.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.memberCard {
  border: 1px solid var(--ifm-color-emphasis-300);
  align-items: center;
  display: flex;
  position: relative;
  margin: 1rem;
  border-radius: 50%;
  /* 圆形头像 */
  text-decoration: none;
  color: inherit;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  overflow: hidden;
  width: 100px;
  height: 100px;
  padding: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 默认阴影 */
}

.memberCard:hover {
  transform: scale(1.05); /* 放大效果 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 更大的阴影 */
}

.memberAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* 圆形头像 */
  transition: opacity 0.4s ease-in-out; /* 平滑隐匿效果 */
}

.memberInfo {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* 半透明背景 */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.memberInfo:hover {
  opacity: 1;
}

.memberInfo h3 {
  margin: 0;
  font-size: 1rem;
  text-align: center; /* 文字居中 */
}

.memberInfo p {
  margin: 0;
  font-size: 0.8rem;
  text-align: center; /* 文字居中 */
}

.teamSection {
  margin-top: 2rem;
  padding: 2rem 0;
}

.memberCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
